body {
  background-color: lightblue;
}

h1 {
  color: #FF00AD;
}

div {
  background-color: #C1C7C4;
}































/* Helpful sites:

Color picker: http://www.colorpicker.com/




*/
