body {
  background-color: lightblue;
}

/* ------- Header Styling ------- */

header {
  background-color: #919492;
}

h1 {
  color: #FF00AD;
}

nav {
  width: 940px;
}

nav ul li {
  list-style: none;
  display: inline;
}

/* -------  ------- */

img {
  height: 200px;
  width: auto;
}

.toys {
  background-color: #C1C7C4;
}































/* Helpful sites:

Color picker: http://www.colorpicker.com/




*/
